body {
  margin: 0;
  padding: 0;
  background-image: url("./images/625085.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* navigation bar */

.nav {
  width: 100vw;
  height: 9vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: red;
}

.logo {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bolder;
  font-size: larger;
  font-family: monospace;
}

.logo img {
  width: 20%;
  height: 80%;
  border-radius: 50%;
}

/* for searching character */
.search-list {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 90%;
  align-items: center;
  justify-content: flex-start;
}

.search {
  width: 100%;
  height: 90%;
  border: 2px solid white;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  color: black;
  text-align: center;
}

.search input {
  width: 88%;
  height: 100%;
  border-radius: 2rem 0 0 2rem;
  outline: none;
  border: none;
  background-color: black;
  padding: 22px;
  color: red;
}

.search button {
  width: 12%;
  height: 100%;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* removing the default display for input */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.favourites {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.favourites .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* for displaying all the characters */
#heroes {
  width: 100vw;
  height: 91vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.character {
  width: 22%;
  height: 300px;
  color: black;
  background-color: rgba(124, 110, 107, 0.5);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 2rem;
}

.character img {
  width: 80%;
  height: 70%;
}

.card-body {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
}

.card-body button {
  width: 40%;
  height: 60%;
  border-radius: 2rem;
  font-family: monospace;
  font-weight: bold;
  color: red;
  background-color: black;
}

.card-body a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  font-weight: bold;
  cursor: pointer;
}

/* displaying the search results */
#search-results {
  z-index: 1;
  width: 100%;
  max-height: 500px;
}

#search-results li {
  background-color: black;
  width: 100%;
  height: 20%;
  border: 1px solid black;
  list-style-type: none;
  border-radius: 0 2rem 2rem 0;
}

.search-result {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-result img {
  width: 30%;
  height: 100%;
}

.search-result a {
  width: 40%;
  height: 100%;
  text-decoration: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.search-result button {
  width: 30%;
  height: 40%;
  border-radius: 2rem;
  font-family: monospace;
  font-weight: bold;
  color: red;
}

.favourites a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
